<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <%- include ('./../css.ejs') %>  
</head>
<body>
    <h1>Iniciar Sesion!</h1>
    <p> <%= user.name%> </p>
    <p> <%= user.id%> </p>
    <p> <%= user.active%> </p>
</body>
    <%- include ('./../scripts.ejs') %>
</html>